* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-wrapper {
    width: 90%;
    margin: 100px auto;
}

input,
select,
button {
    display: block;
    padding: 5px 5px;
    margin: 10px 0;
}

.form-wrapper {
    padding: 20px 0;
}

th,
td {
    padding: 5px;
}

h2 {
    margin: 20px 0;
}

.center {
    text-align: center;
}

tr:hover,
a:hover {
    background-color: grey;
    color: aliceblue;
}

tr.genap {
    background-color: #efefef;
}

a {
    text-decoration: none;
}

button {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #efefef;
    color: black;
}

button:hover {
    background-color: gray;
    color: white;
    border: none;
}